
.footer-section {
    margin-top: 100px;
    margin-bottom: 88px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 45px 85px;
    background-color: #2C343E;
}

.footernav-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;   
}
.footernav-item + .footernav-item{
    margin-left: 30px;
}
.footernav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    color: #83888F;
}
.footernav-link:hover{
    opacity: 0.8;
}
.footernav-link:active{
    color: white;
}
.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}
.footer-box-link:hover{
    opacity: 0.8;
}
.footer-box-link:active{
    opacity: 0.4;
}