.site-btn {
    margin: 0;
    padding: 0;
    padding: 16px 31px;
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    border: none;
    background: #0E8784;
    border-radius: 6px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .site-btn:active {
    background: #66D2CF;
  }

  .site-btn:hover {
    opacity: 0.7;;
  }
  